<div class="loogie">
  <h3>{{loogie.id}}</h3>
  <h5>{{loogie.content}}</h5>
<form class="" action="/users/delete/{{loogie.id}}?_method=delete" method="POST">
    <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>
<form class="" action="/spittoon">
    <input type="submit" class="btn btn-danger pull-right" value="Spittoon">
</form>
