<h1>Welcome to Phlegmer!</h1>
<nav>
  <a class="navlinks"href="/spittoon">Spittoon</a>
  <a class="navlinks"href="/users/myprofile">MyProfile</a>
</nav>
<p id="about">ABOUT</p>
<p id="goals">Our goal here at Phlegmer is to get people hacking loogies. The more loogies the better. You can connect and share your loogies with others. The Spittoon is where all of the hacked loogies gather for everyone to admire.</p>
