header{
  font-size: 60px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #ffb3b3;
  padding-bottom: 10px;
  width: 100%;
  font-family: 'Artifika', serif;

}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color: #ff8080;
}



h1{
  color: white;
  padding: 30px;
  width: 96.58%;
  padding: 10px;
  font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.boxy{
  background-color: #ffb3b3;
  border-radius: 10px;
  width: 30%;
}

nav{
  width:100%;
  height: 30px;
  padding: 10px;
  background-color: #ffb3b3;
  display: flex;
  font-family: 'Mina', sans-serif;

}

#section1{
  height: 520px;
  width: 27%;
  background-color: #eeccff
;
  float:left;
  border: 5px solid #ffb3b3;
}

img{
  height: 500px;
  width: 99%;
}

#section2{
  height: 520px;
  width: 42%;
  background-color: white;
  float:left;
  border: 5px solid #ffb3b3;
  margin-left: 7px;
  margin-right: 7px;
}

#section3{
  height: 520px;
  width: 27%;
  background-color: #eeccff
;
  float:left;
  border: 5px solid #ffb3b3;
}

.navlinks{
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
}

.navlinks:hover{
  text-decoration: underline;
}


h4{
  color: white;
  padding: 30px;
  width: 96.58%;
  padding: 10px;
  font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{
  width:100%;
  height: 30px;
  padding: 10px;
  background-color: #ffb3b3;
  display: flex;
}

#profsection1{
  height: 520px;
  width: 30%;
  background-color: #eeccff
;
  float:left;
  border: 5px solid #ffb3b3;
}

#followers{
  height: 520px;
  width: 66%;
  background-color: white;
  float:left;
  border: 5px solid #ffb3b3;
  margin-left: 7px;
  margin-right: 7px;
}

.profnavlinks{
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
}

.profnavlinks:hover{
  text-decoration: underline;``
}

.loogie{
  width: 80%;
  height: auto;
  padding-bottom: 30px;
  border: 5px solid #ffb3b3;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 5px;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

#about{
  font-size: 40px;
  font-weight: 400;
  color: purple;
}

#goals{
  font-size: 20px;
}
